*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    height: 10vh;
    color: white;
    background-color: rgb(15, 23, 94);
}

.card{
    padding: 50px;
}

.input{
    border-radius: 20px;
}

.input-group input{
    
    padding: 10px;
}

.buttons{
    padding: 20px;
    background-color: rgb(15, 23, 94);
}